@charset "utf-8";
/* CSS Document */

@media (min-width: 13em) { /* 320px */

	body {
		width: 100%;
		height: 100%;
		background-image: url(../img/bg_unigranrio_mobile00.jpg);
		background-color: #0062b1;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	.tarja {
		position: absolute;
		width: 500px;
		height: 72px;
		background-image: url(../img/tarja_unigranrio.png);
		background-size: 100%;
		top: 10px;
		left: -200px;
	}
	
	.corpo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.midias {
		position: absolute;
		width: 162px;
		height: 37px;
		left: 130px;
		bottom: 80px;
	}
	
	.face {
		width: 17px;
		height: 37px;
		background-image: url(../img/face_branco.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.face:hover {
		width: 17px;
		height: 37px;
		background-image: url(../img/face_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.twiter {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter_branco.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.twiter:hover {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.youtube {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube_branco.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.youtube:hover {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.gmais {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais_branco.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.gmais:hover {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.botoes {
		position: absolute;
		width: 219px;
		height: 550px;
		margin: 0 auto;
		top: 130px;
		left: -100px;
	}
	
	.container_botoes {
		width: 219px;
		height: 550px;
		margin: 0 auto;
	}
	
	.vestibular {
		width: 386px;
		height: 60px;
		background-image: url(../img/vestibular02.png);
		background-size: 100%;
		margin-bottom: 10px;
	}
	
	.vestibular:hover {
		width: 386px;
		height: 60px;
		background-image: url(../img/vestibular02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.enem {
		width: 386px;
		height: 60px;
		background-image: url(../img/enem02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.enem:hover {
		width: 386px;
		height: 60px;
		background-image: url(../img/enem02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.transferencias {
		width: 386px;
		height: 60px;
		background-image: url(../img/transferencia02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.transferencias:hover {
		width: 386px;
		height: 60px;
		background-image: url(../img/transferencia02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.graduacao {
		width: 386px;
		height: 60px;
		background-image: url(../img/graduacao02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.graduacao:hover {
		width: 386px;
		height: 60px;
		background-image: url(../img/graduacao02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.pe {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #0062b1;
		font-family: arial, helvetica, verdana, sans-serif;
		font-size: 15px;
		text-align: center;
		color: #FFFFFF;
		bottom: 0px
	}
	
}

@media (min-width: 37em) { /* 592px */

	body {
		width: 100%;
		height: 100%;
		background-image: url(../img/bg_unigranrio_mobile00.jpg);
		background-color: #0062b1;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	.tarja {
		position: absolute;
		width: 550px;
		height: 79px;
		background-image: url(../img/tarja_unigranrio.png);
		background-size: 100%;
		top: 10px;
		left: -150px;
	}
	
	.corpo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.midias {
		position: absolute;
		width: 162px;
		height: 37px;
		left: 70px;
		bottom: 50px;
	}
	
	.face {
		width: 17px;
		height: 37px;
		background-image: url(../img/face.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.face:hover {
		width: 17px;
		height: 37px;
		background-image: url(../img/face_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.twiter {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.twiter:hover {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.youtube {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.youtube:hover {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.gmais {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.gmais:hover {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.botoes {
		position: absolute;
		width: 219px;
		height: 550px;
		margin: 0 auto;
		top: 130px;
		left: -130px;
	}
	
	.container_botoes {
		width: 219px;
		height: 550px;
		margin: 0 auto;
	}
	
	.vestibular {
		width: 599px;
		height: 93px;
		background-image: url(../img/vestibular02.png);
		background-size: 100%;
		margin-bottom: 10px;
	}
	
	.vestibular:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/vestibular02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.enem {
		width: 599px;
		height: 93px;
		background-image: url(../img/enem02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.enem:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/enem02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.transferencias {
		width: 599px;
		height: 93px;
		background-image: url(../img/transferencia02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.transferencias:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/transferencia02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.graduacao {
		width: 599px;
		height: 93px;
		background-image: url(../img/graduacao02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.graduacao:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/graduacao02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.pe {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #0062b1;
		font-family: arial, helvetica, verdana, sans-serif;
		font-size: 15px;
		text-align: center;
		color: #FFFFFF;
		bottom: 0px
	}
	
}

@media (min-width: 41em) { /* 656px */
	
	body {
		width: 100%;
		height: 100%;
		background-image: url(../img/bg_unigranrio_mobile00.jpg);
		background-color: #0062b1;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	.tarja {
		position: absolute;
		width: 600px;
		height: 86px;
		background-image: url(../img/tarja_unigranrio.png);
		background-size: 100%;
		top: 10px;
		left: -150px;
	}
	
	.corpo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.midias {
		position: absolute;
		width: 162px;
		height: 37px;
		left: 70px;
		bottom: 50px;
	}
	
	.face {
		width: 17px;
		height: 37px;
		background-image: url(../img/face.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.face:hover {
		width: 17px;
		height: 37px;
		background-image: url(../img/face_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.twiter {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.twiter:hover {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.youtube {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.youtube:hover {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.gmais {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.gmais:hover {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.botoes {
		position: absolute;
		width: 219px;
		height: 550px;
		margin: 0 auto;
		top: 130px;
		left: -130px;
	}
	
	.container_botoes {
		width: 219px;
		height: 550px;
		margin: 0 auto;
	}
	
	.vestibular {
		width: 599px;
		height: 93px;
		background-image: url(../img/vestibular02.png);
		background-size: 100%;
		margin-bottom: 10px;
	}
	
	.vestibular:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/vestibular02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.enem {
		width: 599px;
		height: 93px;
		background-image: url(../img/enem02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.enem:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/enem02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.transferencias {
		width: 599px;
		height: 93px;
		background-image: url(../img/transferencia02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.transferencias:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/transferencia02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.graduacao {
		width: 599px;
		height: 93px;
		background-image: url(../img/graduacao02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.graduacao:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/graduacao02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.pe {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #0062b1;
		font-family: arial, helvetica, verdana, sans-serif;
		font-size: 15px;
		text-align: center;
		color: #FFFFFF;
		bottom: 0px
	}
	
}

@media (min-width: 47em) { /* 752px */

	body {
		width: 100%;
		height: 100%;
		background-image: url(../img/bg_unigranrio_mobile03.jpg);
		background-color: #0062b1;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	.tarja {
		position: absolute;
		width: 650px;
		height: 94px;
		background-image: url(../img/tarja_unigranrio.png);
		background-size: 100%;
		top: 10px;
		left: -150px;
	}
	
	.corpo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.midias {
		position: absolute;
		width: 162px;
		height: 37px;
		left: 70px;
		bottom: 50px;
	}
	
	.face {
		width: 17px;
		height: 37px;
		background-image: url(../img/face.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.face:hover {
		width: 17px;
		height: 37px;
		background-image: url(../img/face_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.twiter {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.twiter:hover {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.youtube {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.youtube:hover {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.gmais {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.gmais:hover {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.botoes {
		position: absolute;
		width: 219px;
		height: 550px;
		margin: 0 auto;
		top: 130px;
		left: -130px;
	}
	
	.container_botoes {
		width: 219px;
		height: 550px;
		margin: 0 auto;
	}
	
	.vestibular {
		width: 599px;
		height: 93px;
		background-image: url(../img/vestibular02.png);
		background-size: 100%;
		margin-bottom: 10px;
	}
	
	.vestibular:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/vestibular02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.enem {
		width: 599px;
		height: 93px;
		background-image: url(../img/enem02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.enem:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/enem02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.transferencias {
		width: 599px;
		height: 93px;
		background-image: url(../img/transferencia02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.transferencias:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/transferencia02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.graduacao {
		width: 599px;
		height: 93px;
		background-image: url(../img/graduacao02.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.graduacao:hover {
		width: 599px;
		height: 93px;
		background-image: url(../img/graduacao02_light.png);
		background-size: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.pe {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #0062b1;
		font-family: arial, helvetica, verdana, sans-serif;
		font-size: 15px;
		text-align: center;
		color: #FFFFFF;
		bottom: 0px
	}
	
}

@media (min-width: 68em) { /* 1088px */
	
	body {
		width: 100%;
		height: 100%;
		background-image: url(../img/bg_unigranrio_mobile04.jpg);
		background-color: #0062b1;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	.tarja {
		position: absolute;
		width: 847px;
		height: 122px;
		background-image: url(../img/tarja_unigranrio.png);
		background-size: 100%;
		top: 10px;
		left: -150px;
	}
	
	.corpo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.midias {
		position: absolute;
		width: 162px;
		height: 37px;
		left: 850px;
		top: 15px;
	}
	
	.face {
		width: 17px;
		height: 37px;
		background-image: url(../img/face.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.face:hover {
		width: 17px;
		height: 37px;
		background-image: url(../img/face_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.twiter {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.twiter:hover {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.youtube {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.youtube:hover {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.gmais {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.gmais:hover {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.botoes {
		position: absolute;
		width: 100%;
		height: 173px;
		margin: 0 auto;
		top: 400px;
	}
	
	.container_botoes {
		width: 1208px;
		height: 173px;
		margin: 0 auto;
	}
	
	.vestibular {
		width: 292px;
		height: 173px;
		background-image: url(../img/vestibular.png);
		float: left;
		margin-right: 10px;
	}
	
	.vestibular:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/vestibular_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.enem {
		width: 292px;
		height: 173px;
		background-image: url(../img/enem.png);
		float: left;
		margin-right: 10px;
	}
	
	.enem:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/enem_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.transferencias {
		width: 292px;
		height: 173px;
		background-image: url(../img/transferencia.png);
		float: left;
		margin-right: 10px;
	}
	
	.transferencias:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/transferencia_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.graduacao {
		width: 292px;
		height: 173px;
		background-image: url(../img/graduacao.png);
		float: left;
		margin-right: 10px;
	}
	
	.graduacao:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/graduacao_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.pe {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #0062b1;
		font-family: arial, helvetica, verdana, sans-serif;
		font-size: 15px;
		text-align: center;
		color: #FFFFFF;
		bottom: 0px
	}
	
}

@media (min-width: 82em) { /* 1312px */
	
	body {
		width: 100%;
		height: 100%;
		background-image: url(../img/bg_unigranrio_mobile05.jpg);
		background-color: #0062b1;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	.tarja {
		position: absolute;
		width: 847px;
		height: 122px;
		background-image: url(../img/tarja_unigranrio.png);
		background-size: 100%;
		top: 10px;
		left: -150px;
	}
	
	.corpo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.midias {
		position: absolute;
		width: 162px;
		height: 37px;
		left: 1330px;
		top: 15px;
	}
	
	.face {
		width: 17px;
		height: 37px;
		background-image: url(../img/face.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.face:hover {
		width: 17px;
		height: 37px;
		background-image: url(../img/face_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.twiter {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.twiter:hover {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.youtube {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.youtube:hover {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.gmais {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.gmais:hover {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.botoes {
		position: absolute;
		width: 100%;
		height: 173px;
		margin: 0 auto;
		top: 400px;
	}
	
	.container_botoes {
		width: 1208px;
		height: 173px;
		margin: 0 auto;
	}
	
	.vestibular {
		width: 292px;
		height: 173px;
		background-image: url(../img/vestibular.png);
		float: left;
		margin-right: 10px;
	}
	
	.vestibular:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/vestibular_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.enem {
		width: 292px;
		height: 173px;
		background-image: url(../img/enem.png);
		float: left;
		margin-right: 10px;
	}
	
	.enem:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/enem_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.transferencias {
		width: 292px;
		height: 173px;
		background-image: url(../img/transferencia.png);
		float: left;
		margin-right: 10px;
	}
	
	.transferencias:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/transferencia_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.graduacao {
		width: 292px;
		height: 173px;
		background-image: url(../img/graduacao.png);
		float: left;
		margin-right: 10px;
	}
	
	.graduacao:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/graduacao_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.pe {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #0062b1;
		font-family: arial, helvetica, verdana, sans-serif;
		font-size: 15px;
		text-align: center;
		color: #FFFFFF;
		bottom: 0px
	}
	
}

@media (min-width: 100em) { /* 1600px */
	
	body {
		width: 100%;
		height: 100%;
		background-image: url(../img/bg_unigranrio.jpg);
		background-color: #0062b1;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	
	.tarja {
		position: absolute;
		width: 847px;
		height: 122px;
		background-image: url(../img/tarja_unigranrio.png);
		background-size: 100%;
		top: 10px;
		left: -150px;
	}
	
	.corpo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.midias {
		position: absolute;
		width: 162px;
		height: 37px;
		left: 1400px;
		top: 15px;
	}
	
	.face {
		width: 17px;
		height: 37px;
		background-image: url(../img/face.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.face:hover {
		width: 17px;
		height: 37px;
		background-image: url(../img/face_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 13px;
	}
	
	.twiter {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.twiter:hover {
		width: 41px;
		height: 34px;
		background-image: url(../img/twiter_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	
	.youtube {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.youtube:hover {
		width: 30px;
		height: 37px;
		background-image: url(../img/youtube_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: left;
	}
	
	.gmais {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.gmais:hover {
		width: 39px;
		height: 25px;
		background-image: url(../img/gmais_light.png);
		background-size: 100%;
		background-repeat: no-repeat;
		float: right;
		margin-top: 7px;
	}
	
	.botoes {
		position: absolute;
		width: 100%;
		height: 173px;
		margin: 0 auto;
		top: 400px;
	}
	
	.container_botoes {
		width: 1208px;
		height: 173px;
		margin: 0 auto;
	}
	
	.vestibular {
		width: 292px;
		height: 173px;
		background-image: url(../img/vestibular.png);
		float: left;
		margin-right: 10px;
	}
	
	.vestibular:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/vestibular_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.enem {
		width: 292px;
		height: 173px;
		background-image: url(../img/enem.png);
		float: left;
		margin-right: 10px;
	}
	
	.enem:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/enem_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.transferencias {
		width: 292px;
		height: 173px;
		background-image: url(../img/transferencia.png);
		float: left;
		margin-right: 10px;
	}
	
	.transferencias:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/transferencia_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.graduacao {
		width: 292px;
		height: 173px;
		background-image: url(../img/graduacao.png);
		float: left;
		margin-right: 10px;
	}
	
	.graduacao:hover {
		width: 292px;
		height: 173px;
		background-image: url(../img/graduacao_light.png);
		float: left;
		margin-right: 10px;
	}
	
	.pe {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #0062b1;
		font-family: arial, helvetica, verdana, sans-serif;
		font-size: 15px;
		text-align: center;
		color: #FFFFFF;
		bottom: 0px
	}
	
}