﻿<div class="width-50 campo-form">
						<label for="jur-email1">E-mail 1 <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-email1" id="jur-email1">
					</div>
					<div class="width-50 campo-form">
						<label for="jur-email2">E-mail 2 </label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-email2" id="jur-email2">
					</div>
					<div class="width-100 campo-form">
						<label for="jur-txtsite">Site</label>
						<div style="clear:both;"></div>
						<div><input type="text" name="jur-txtsite" id="jur-txtsite"></div>
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtTelefone1">Telefone 1 <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" class="telefone" name="jur-txtTelefone1" id="jur-txtTelefone1">
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtTelefone2">Telefone 2</label>
						<div style="clear:both;"></div>
						<input type="text"  class="telefone" name="jur-txtTelefone2" id="jur-txtTelefone2">
					</div>
					<div class="width-25 campo-form">
						<label for="jur-txtCepEmpresa">CEP <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" id="cep2"  class="cep" name="jur-txtCepEmpresa" id="jur-txtCepEmpresa">
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtEnderecoEmpresa">Endereço <span class="obrigatorio">*</span></label>
                        
                           
                        
						<div style="clear:both;"></div>
						<input class="autocomplete-address" type="text" name="jur-txtEnderecoEmpresa" id="jur-txtEnderecoEmpresa">
					</div>
					<div class="width-25 campo-form">
						<label for="jur-txtNumeroEndereco">Número <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-txtNumeroEndereco" id="jur-txtNumeroEndereco">
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtComplementoEmpresa">Complemento <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-txtComplementoEmpresa" id="jur-txtComplementoEmpresa">
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtBairroEmpresa">Bairro <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input  class="autocomplete-neighborhood" type="text" name="jur-txtBairroEmpresa" id="jur-txtBairroEmpresa">
					</div>
					<div class="width-25 campo-form">
						<label for="jur-slcEstadoEmpresa">Estado <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
					   <select id="estado1" name="estado" class="autocomplete-state" value="RJ"></select>
      
					</div>
					<div class="width-50 campo-form">
						<label for="jur-slcCidadeEmpresa">Cidade <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<select name="jur-slcCidadeEmpresa" id="jur-slcCidadeEmpresa">
							<option>Selecione a Cidade</option>
						</select>
					</div>
					<div style="clear:both;"></div>
					
					<p class="titulo-form">INFORMAÇÕES DA PARCERIA</p>
					<div class="width-100 campo-form">
						<div style="clear:both;"></div>
						<label>Possui imóvel disponível para a instalação do Polo de Apoio Presencial? <span class="obrigatorio">*</span></label>
						<div class="form-radio">
							<input type="radio" name="jur-possuiImovel" value="Sim">
							<label>Sim</label>
						</div>
						<div class="form-radio">
							<input type="radio" name="jur-possuiImovel" value="Não">
							<label>Não</label>
						</div>
					</div>
					<div class="width-25 campo-form">
						<label for="jur-slcEstadoParceria">Estado <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<select name="jur-slcEstadoParceria" id="jur-slcEstadoParceria">
							<option>Selecione o Estado</option>
						</select>
					</div>
					<div class="width-50 campo-form">
						<label for="jur-slcCidadeParceria">Cidade <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
					<select name="fis-slcEstadoEmpresa" name="cidade" id="cidade1" value="Rio de Janeiro"></select>
                    
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtEnderecoParceria">Endereço <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-txtEnderecoParceria" id="jur-txtEnderecoParceria">
					</div>
					<div class="width-25 campo-form">
						<label for="jur-txtNumeroParceria">Número <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-txtNumeroParceria" id="jur-txtNumeroParceria">
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtComplementoParceria">Complemento <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-txtComplementoParceria" id="jur-txtComplementoParceria">
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtBairroParceria">Bairro <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-txtBairroParceria" id="jur-txtBairroParceria">
					</div>
					<div class="width-50 campo-form">
						<label for="jur-txtMetragemImovel">Metragem aproximada do imóvel <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-txtMetragemImovel" id="jur-txtMetragemImovel">
					</div>
					<div class="width-50 campo-form">
						<div style="clear:both;"></div>
						<label>Condição do imóvel <span class="obrigatorio">*</span></label>
						<div class="form-radio">
							<input type="radio" name="jur-condicaoImovel" value="Próprio">
							<label>Próprio</label>
						</div>
						<div class="form-radio">
							<input type="radio" name="jur-condicaoImovel" value="Alugado">
							<label>Alugado</label>
						</div>
					</div>
					<div style="clear:both;"></div>
					<div class="width-50 campo-form">
						<div style="clear:both;"></div>
						<label>Atua ou já atuou no segmento educacional? <span class="obrigatorio">*</span></label>
						<div class="form-radio">
							<input type="radio" name="jur-atuaSegmento" value="Sim">
							<label>Sim</label>
						</div>
						<div class="form-radio">
							<input type="radio" name="jur-atuaSegmento" value="Não">
							<label>Não</label>
						</div>
					</div>
					<div style="clear:both;"></div>
					<div class="width-50 campo-form">
						<div style="clear:both;"></div>
						<label>É parceiro de alguma Instituição de Ensino? <span class="obrigatorio">*</span></label>
						<div class="form-radio">
							<input type="radio" name="jur-parceiroInstituicao" value="Sim">
							<label>Sim</label>
						</div>
						<div class="form-radio">
							<input type="radio" name="jur-parceiroInstituicao" value="Não">
							<label>Não</label>
						</div>
					</div>
					<div style="clear:both;"></div>
					<div class="width-50 campo-form">
						<label for="jur-txtQualInstituicao">Qual? <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<input type="text" name="jur-txtQualInstituicao" id="jur-txtQualInstituicao">
					</div>
					<div style="clear:both;"></div>
					<div class="width-100 campo-form">
						<label for="jur-texta-obs">Observações <span class="obrigatorio">*</span></label>
						<div style="clear:both;"></div>
						<textarea rows="5" cols="45" name="jur-texta-obs" id="jur-texta-obs"></textarea>
					</div>
					<div>
						<button name="botaoEnviar" type="button" id="jur-botaoEnviar">Enviar Formulário</button>
					</div>