@charset "utf-8";
/* CSS Document */

body {
	background-image:  url(../img/bg.jpg);
	margin: 0 auto;
	overflow-x: hidden;
}

a {
	color: #00457a;
	text-decoration: none;
}

a:hover {
	color: #D70000;
	text-decoration: none;
}

.topo {
	width: 2000px;
	height: 121px;
	background-image: url(../img/topo.jpg);
}

.espaco01{
	width: 149px;
	height: 121px;
	float: left;
}

.logo {
	width: 414px;
	height: 121px;
	float: left;
	cursor: pointer;
}

.espaco02 {
	width: 404px;
	height: 121px;
	float: left;
}

.curso {
	height: 121px;
	line-height: 121px;
	font-family: open-sans, sans-serif;
	font-size: 31px;
	font-weight: 600;
	color: #FFFFFF;
}

.corpo {
	width: 1021px;
	margin: 0 auto;
}

.espaco03 {
	width: 1300px;
	height: 110px;
	margin: 0 auto;
}

.texto_geral01 {
	width: 1021px;
	height: 660px;
	margin: 0 auto;
}

.titulo01 {
	font-family: open-sans, sans-serif;
	font-size: 26px;
	font-weight: 600;
}

.titulo02 {
	font-family: open-sans, sans-serif;
	font-size: 19px;
	font-weight: 600;
	padding-top: 20px;
	color: #0062B1;
}

.titulo03 {
	width: 1021px;
	font-family: open-sans, sans-serif;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
}

.titulo04 {
	width: 1021px;
	font-family: open-sans, sans-serif;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
}

.texto01 {
	width: 520px;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 400px;
	float: left;
}

.texto02 {
	width: 418px;
	font-family: open-sans, sans-serif;
	font-size: 19px;
	font-weight: 600;
	float: right;
}

.espaco04 {
	width: 71px;
	margin: 0 auto;
}

.divisao {
	width: 1021px;
	height: 1px;
	background-color: #999999;
}

.espaco05 {
	width: 1021px;
	height: 51px;
}

.coordenacao {
	width: 1021px;
	height: 590px;
	margin: 0 auto;
}

.espaco06 {
	width: 1021px;
	height: 25px;
}

.foto01 {
	width: 121px;
	height: 365px;
	background-image: url(../img/marina.jpg);
	background-repeat: no-repeat;
	float: left;
}

.texto03_01 {
	width: 420px;
	height: 365px;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 400;
	float: left;
}

.video01 {
	width: 438px;
	height: 308px;
	float: right;
}

.texto04 {
	width: 670px;
	height: 509px;
	margin: 0 auto;
}

.texto04_01 {
	width: 333px;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
}

.texto04_02 {
	width: 320px;
	font-family: open-sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: right;
}

.locais {
	width: 1021px;
	margin: 0 auto;
	padding-top: 50px;
}

.campus {
	width: 320px;
	height: 44px;
	line-height: 44px;
	font-family: open-sans, sans-serif;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	border-radius: 30px;
	background-color: #00457a;
	margin: 0 auto;
}

.campus2 {
	width: 320px;
	height: 44px;
	line-height: 44px;
	font-family: open-sans, sans-serif;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	border-radius: 30px;
	background-color: #00457a;
	margin: 0 auto;
}

.combus {
	width: 784px;
	height: 334px;
	margin: 0 auto;
}

.combo01 {
	width: 237px;
	height: 334px;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 400;
	background-color: #dbdbdb;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	margin: 0 auto;
	float: left;
}

.indisponivel {
	width: 237px;
	height: 135px;
	background-image: url(../img/indisponivel.png);
	background-position: center;
	background-repeat: no-repeat;
}

.titulo_combus {
	width: 237px;
	font-family: open-sans, sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #00457a;
	text-align: center;
}

.texto01_combo {
	width: 237px;
	font-family: open-sans, sans-serif;
	font-size: 12px;
	font-weight: 200;
	text-align: center;
	margin: 0 auto;
}

.precos {
	width: 237px;
	margin: 0 auto;
}

.preco01_presencial {
	position: absolute;
	width: 237px;
	font-family: open-sans, sans-serif;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	color: #00457a;
	margin: 0 auto;
}

.preco02_presencial {
	position: absolute;
	width: 237px;
	font-family: open-sans, sans-serif;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	color: #0075f7;
	margin: 0 auto;
}

.preco03_presencial {
	position: absolute;
	width: 237px;
	font-family: open-sans, sans-serif;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	color: #00457a;
	margin: 0 auto;
}

.preco04_presencial {
	position: absolute;
	width: 237px;
	font-family: open-sans, sans-serif;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	color: #00457a;
	margin: 0 auto;
}

.preco05_presencial {
	position: absolute;
	width: 237px;
	font-family: open-sans, sans-serif;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	color: #0075f7;
	margin: 0 auto;
}

.preco06_presencial {
	position: absolute;
	width: 237px;
	font-family: open-sans, sans-serif;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	color: #00457a;
	margin: 0 auto;
}

.turnos {
	width: 237px;
	height: 44px;
	margin: 0 auto;
}

.manha01 {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #0062b1;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	margin-left: 30px;
}

.manha01:hover {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #0377d4;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	margin-left: 30px;
}

.manha01_clicado {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #48FB00;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #033100;
	float: left;
	cursor: pointer;
	margin-left: 30px;
}

.noite01 {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #00457a;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	margin-left: 125px;
}

.noite01:hover {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #035b9f;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	margin-left: 125px;
}

.noite01_clicado {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #48FB00;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #033100;
	float: left;
	cursor: pointer;
	margin-left: 125px;
}

.manha02 {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #0062b1;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	margin-left: 30px;
}

.manha02:hover {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #0377d4;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	margin-left: 30px;
}

.manha02_clicado {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #48FB00;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #033100;
	float: left;
	cursor: pointer;
	margin-left: 30px;
}

.noite02 {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #00457a;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	margin-left: 125px;
}

.noite02_clicado {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #48FB00;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #033100;
	float: left;
	cursor: pointer;
	margin-left: 125px;
}

.noite02:hover {
	position: absolute;
	width: 85px;
	height: 44px;
	line-height: 44px;
	background-color: #035b9f;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	margin-left: 125px;
}

.combo02 {
	width: 237px;
	height: 334px;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 400;
	background-color: #dbdbdb;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	margin-left: 36px;
	float: left;
}

.combo03 {
	width: 237px;
	height: 334px;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 400;
	background-color: #dbdbdb;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	margin-left: 36px;
	float: right;
}

.outras_unidades {
	width: 400px;
	height: 30px;
	margin: 0 auto;
	margin-top: 30px;
}

select {
	position: absolute;
	background-color: #F1F1F1;
	border-radius: 13px;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	float: right;
	width: 400px;
	height: 30px;
	margin: 0 auto;
}

.campus_duque_de_caxias {
	width: 1021px;
	height: 378px;
	margin: 0 auto;
}

.campus_nova_iguacu {
	width: 1021px;
	height: 378px;
	margin: 0 auto;
}

.pe {
	width: 100%;
	height: 49px;
	background-color: #0062b1;
	margin-top: 70px;
}
