@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.container{
	width: 80%;
	margin: 0 auto;
}

textarea{
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	border: 1px solid #d3d3d3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

label{
	padding-bottom: 3px;
    display: block;
	font-weight: bold;
	color: #4b4b4b;
}

.obrigatorio{
	color: #D91E18;
}

input{
	width: 100%;
	height: 32px;
	box-sizing: border-box;
	padding: 0 10px;
	border: 1px solid #d3d3d3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.formulario{
	width: 80%;
	margin: 0 auto;
}

.campo-form{
	padding: 0 15px 0 0;
	margin-bottom: 15px;
	float: left;
	position: relative;
	box-sizing: border-box;
}

.width-100{
	width: 100%;
}

.width-75{
	width: 75%;
}

.width-50{
	width: 50%;
}

.width-25{
	width: 25%;
}

select{
	width: 100%;
	height: 32px;
	padding: 0 10px;
	border: 1px solid #d3d3d3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.form-tel{
	padding: 0px;
}

.inp-tel{
	float: left;
    padding-right: 15px;
    box-sizing: border-box;
}

h1{
	color: #004081;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

.box-duvidas {
    padding: 8px 30px;
    background-color: #eaf2fa;
}

.email-duvidas{
	color: #4c739a;
	font-weight: bold;
}

.titulo-form{
	font-weight: bold;
	font-size: 20px;
}

.form-radio > input{
	width: 13px;
    float: left;
    height: 13px;
    margin-right: 5px;
	margin-top: 2px;
}

.form-radio > label{
	font-weight: normal;
}

.form-radio {
    margin-top: 5px;
	margin-right: 10px;
	display: inline-flex;
}

#jur-botaoEnviar, #fis-botaoEnviar {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #004081;
    color: #ffffff;
    font-weight: bold;
    border: none;
	cursor: pointer;
}

#jur-botaoEnviar:hover, #fis-botaoEnviar:hover{
	background-color: #002b56;
}

@media all and (max-width: 1024px){
	.formulario{
		width: 100%;
	}
}

@media all and (max-width: 500px){
	.width-25, .width-50, .width-75, .width-100{
		width: 100%;
	}
	
	.inp-tel{
		margin-bottom: 10px;
	}
}
#form-pessoa-fisica, #form-pessoa-juridica{
	display: none;
}